@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
body {
    font-family:"Teko", sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

header {
    background-color:#000000d0;
    color:black;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    color: whitesmoke;

}

.dashboard {
    font-size: 60px;
}
.search {
    background-color:#000000d0;
    color: whitesmoke;
    margin-left: 15px;
    margin-top: 2em;
    padding: 2.5em;
    border-radius: 30px;
}
.find {
    font-size: 40px;
    padding-right: 30px;
    
}

.btn svg { 
    height: 30px;
    width: 30px;
}

.search-bar {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    color:white;
    font-size: 20px;
    width: 80%;
}

.card {
    background-color:#000000d0;
    color: whitesmoke;
    margin-right: 15px;
    margin-top: 2em;
    padding: 1em;
    border-radius: 30px;
    text-align: center;

}

.city {
   text-align: center;
   font-size: 40px;
}

 .icon {
    height:60px ;
    width: 10%;
    margin: 0 auto;
}  

.description {
    text-transform: capitalize;
}

.recent {
    background-color:#000000d0;
    color: whitesmoke;
    margin-left: 15px;
    margin-top: 2.6em;
    padding: 1em;
    padding-bottom: 10em;
    border-radius: 30px;
    text-align: center;
}

.recentSearch {
    margin-top: 12px;
}

.fiveDay {
    background-color:#000000d0;
    color: whitesmoke;
    margin-right: 15px;
    margin-top: 1.5em;
    padding: 1em;
    padding-bottom: 7em;
    border-radius: 30px;
    text-align: center;
    
}